### Importing the necessary libraries

In [46]:
import pandas as pd
import numpy as np

### Loading the dataset

In [47]:
order=pd.read_excel('./Company X - Order Report.xlsx')
pincode=pd.read_excel('./Company X - Pincode Zones.xlsx')
sku=pd.read_excel('./Company X - SKU Master.xlsx')
invoice=pd.read_excel('./Courier Company - Invoice.xlsx')
rates=pd.read_excel('./Courier Company - Rates.xlsx')

### Pre-processing data

In [48]:
order.shape,pincode.shape,sku.shape,invoice.shape,rates.shape

((400, 3), (124, 3), (66, 2), (124, 8), (5, 6))

In [49]:
order.columns

Index(['ExternOrderNo', 'SKU', 'Order Qty'], dtype='object')

In [50]:
pincode.columns

Index(['Warehouse Pincode', 'Customer Pincode', 'Zone'], dtype='object')

In [51]:
sku.columns

Index(['SKU', 'Weight (g)'], dtype='object')

In [52]:
invoice.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)'],
      dtype='object')

In [53]:
rates.columns

Index(['Zone', 'Weight Slabs', 'Forward Fixed Charge',
       'Forward Additional Weight Slab Charge', 'RTO Fixed Charge',
       'RTO Additional Weight Slab Charge'],
      dtype='object')

In [54]:
pd.isnull(order).sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [55]:
pd.isnull(pincode).sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [56]:
pd.isnull(sku).sum()

SKU           0
Weight (g)    0
dtype: int64

In [57]:
pd.isnull(invoice).sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [58]:
pd.isnull(rates).sum()

Zone                                     0
Weight Slabs                             0
Forward Fixed Charge                     0
Forward Additional Weight Slab Charge    0
RTO Fixed Charge                         0
RTO Additional Weight Slab Charge        0
dtype: int64

### EDA

#### Merging to dataset

In [70]:
df=pd.merge(order,sku,on='SKU')

In [71]:
df

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001821995  8904223818706        1.0         127
2       2001819252  8904223818706        1.0         127
3       2001816996  8904223818706        1.0         127
4       2001814580  8904223818706        1.0         127
..             ...            ...        ...         ...
396     2001806616  8904223819123        1.0         250
397     2001806567  8904223815804        1.0         160
398     2001806567  8904223818577        1.0         150
399     2001806408  8904223819437        2.0         552
400     2001806232  8904223818645        6.0         137

[401 rows x 4 columns]

In [72]:
df.duplicated().sum()

3

In [73]:
df.drop_duplicates(inplace=True)

In [74]:
df

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001821995  8904223818706        1.0         127
2       2001819252  8904223818706        1.0         127
3       2001816996  8904223818706        1.0         127
4       2001814580  8904223818706        1.0         127
..             ...            ...        ...         ...
396     2001806616  8904223819123        1.0         250
397     2001806567  8904223815804        1.0         160
398     2001806567  8904223818577        1.0         150
399     2001806408  8904223819437        2.0         552
400     2001806232  8904223818645        6.0         137

[398 rows x 4 columns]

In [75]:
df.describe()

       ExternOrderNo   Order Qty  Weight (g)
count   3.980000e+02  398.000000  398.000000
mean    2.001811e+09    1.296482  180.736181
std     5.196911e+03    0.921360   91.529287
min     2.001806e+09    1.000000   10.000000
25%     2.001807e+09    1.000000  120.250000
50%     2.001809e+09    1.000000  133.000000
75%     2.001812e+09    1.000000  240.000000
max     2.001827e+09    8.000000  600.000000

#### Generating Total weight

In [76]:
df['Total weight in KG']=(df['Order Qty']*df['Weight (g)'])/1000

In [77]:
df

     ExternOrderNo            SKU  Order Qty  Weight (g)  Total weight in KG
0       2001827036  8904223818706        1.0         127               0.127
1       2001821995  8904223818706        1.0         127               0.127
2       2001819252  8904223818706        1.0         127               0.127
3       2001816996  8904223818706        1.0         127               0.127
4       2001814580  8904223818706        1.0         127               0.127
..             ...            ...        ...         ...                 ...
396     2001806616  8904223819123        1.0         250               0.250
397     2001806567  8904223815804        1.0         160               0.160
398     2001806567  8904223818577        1.0         150               0.150
399     2001806408  8904223819437        2.0         552               1.104
400     2001806232  8904223818645        6.0         137               0.822

[398 rows x 5 columns]

In [78]:
df = df[["ExternOrderNo","Total weight in KG"]].groupby('ExternOrderNo').sum()
df.reset_index(level=0, inplace=True)
df

     ExternOrderNo  Total weight in KG
0       2001806210               0.220
1       2001806226               0.480
2       2001806229               0.500
3       2001806232               1.302
4       2001806233               0.245
..             ...                 ...
119     2001821995               0.477
120     2001822466               1.376
121     2001823564               0.672
122     2001825261               1.557
123     2001827036               1.676

[124 rows x 2 columns]

In [79]:
df['Total weight in KG']=df['Total weight in KG'].round(1)
df

     ExternOrderNo  Total weight in KG
0       2001806210                 0.2
1       2001806226                 0.5
2       2001806229                 0.5
3       2001806232                 1.3
4       2001806233                 0.2
..             ...                 ...
119     2001821995                 0.5
120     2001822466                 1.4
121     2001823564                 0.7
122     2001825261                 1.6
123     2001827036                 1.7

[124 rows x 2 columns]

In [81]:
import math

In [82]:
df['slab_weight'] = df['Total weight in KG'].apply(lambda x: (math.ceil(x*2)/2) )
df

     ExternOrderNo  Total weight in KG  slab_weight
0       2001806210                 0.2          0.5
1       2001806226                 0.5          0.5
2       2001806229                 0.5          0.5
3       2001806232                 1.3          1.5
4       2001806233                 0.2          0.5
..             ...                 ...          ...
119     2001821995                 0.5          0.5
120     2001822466                 1.4          1.5
121     2001823564                 0.7          1.0
122     2001825261                 1.6          2.0
123     2001827036                 1.7          2.0

[124 rows x 3 columns]

#### Merging Pincode and invoice dataset

In [129]:
df2=pd.merge(pincode,invoice,on='Customer Pincode')
df2

,Warehouse Pincode_x,Customer Pincode,Zone_x,AWB Code,Order ID,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.)
0,121003,507101,d,1091117222124,2001806232,1.30,121003,d,Forward charges,135.0
1,121003,486886,d,1091117222194,2001806273,1.00,121003,d,Forward charges,90.2
2,121003,532484,d,1091117222931,2001806408,2.50,121003,d,Forward charges,224.6
3,121003,143001,b,1091117223244,2001806458,1.00,121003,b,Forward charges,61.3
4,121003,515591,d,1091117229345,2001807012,0.15,121003,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...,...,...
169,121003,302020,b,1091117904860,2001811039,0.68,121003,d,Forward charges,90.2
170,121003,302020,b,1091121846136,2001811305,0.50,121003,d,Forward charges,45.4
171,121003,325207,b,1091118551656,2001812941,0.73,121003,d,Forward charges,90.2
172,121003,303702,b,1091117614452,2001809383,0.50,121003,d,Forward and RTO charges,86.7
173,121003,313301,b,1091120922803,2001820978,0.50,121003,d,Forward charges,45.4

In [130]:
df2.duplicated().sum()

50

In [131]:
df2.drop_duplicates(inplace=True)

In [132]:
df2

,Warehouse Pincode_x,Customer Pincode,Zone_x,AWB Code,Order ID,Charged Weight,Warehouse Pincode_y,Zone_y,Type of Shipment,Billing Amount (Rs.)
0,121003,507101,d,1091117222124,2001806232,1.30,121003,d,Forward charges,135.0
1,121003,486886,d,1091117222194,2001806273,1.00,121003,d,Forward charges,90.2
2,121003,532484,d,1091117222931,2001806408,2.50,121003,d,Forward charges,224.6
3,121003,143001,b,1091117223244,2001806458,1.00,121003,b,Forward charges,61.3
4,121003,515591,d,1091117229345,2001807012,0.15,121003,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...,...,...
167,121003,302020,b,1091117904860,2001811039,0.68,121003,d,Forward charges,90.2
168,121003,302020,b,1091121846136,2001811305,0.50,121003,d,Forward charges,45.4
171,121003,325207,b,1091118551656,2001812941,0.73,121003,d,Forward charges,90.2
172,121003,303702,b,1091117614452,2001809383,0.50,121003,d,Forward and RTO charges,86.7
173,121003,313301,b,1091120922803,2001820978,0.50,121003,d,Forward charges,45.4

In [133]:
df2=df2[['Order ID','Customer Pincode','Type of Shipment','Warehouse Pincode_x','Zone_x','Charged Weight','Billing Amount (Rs.)']]

In [134]:
df2

,Order ID,Customer Pincode,Type of Shipment,Warehouse Pincode_x,Zone_x,Charged Weight,Billing Amount (Rs.)
0,2001806232,507101,Forward charges,121003,d,1.30,135.0
1,2001806273,486886,Forward charges,121003,d,1.00,90.2
2,2001806408,532484,Forward charges,121003,d,2.50,224.6
3,2001806458,143001,Forward charges,121003,b,1.00,61.3
4,2001807012,515591,Forward charges,121003,d,0.15,45.4
...,...,...,...,...,...,...,...
167,2001811039,302020,Forward charges,121003,b,0.68,90.2
168,2001811305,302020,Forward charges,121003,b,0.50,45.4
171,2001812941,325207,Forward charges,121003,b,0.73,90.2
172,2001809383,303702,Forward and RTO charges,121003,b,0.50,86.7
173,2001820978,313301,Forward charges,121003,b,0.50,45.4

In [135]:
df.rename({'ExternOrderNo':'Order ID'},axis=1,inplace=True)

In [136]:
df

       Order ID  Total weight in KG  slab_weight
0    2001806210                 0.2          0.5
1    2001806226                 0.5          0.5
2    2001806229                 0.5          0.5
3    2001806232                 1.3          1.5
4    2001806233                 0.2          0.5
..          ...                 ...          ...
119  2001821995                 0.5          0.5
120  2001822466                 1.4          1.5
121  2001823564                 0.7          1.0
122  2001825261                 1.6          2.0
123  2001827036                 1.7          2.0

[124 rows x 3 columns]

#### Merging df and df2

In [137]:
df3=pd.merge(df,df2,on='Order ID')
df3

,Order ID,Total weight in KG,slab_weight,Customer Pincode,Type of Shipment,Warehouse Pincode_x,Zone_x,Charged Weight,Billing Amount (Rs.)
0,2001806210,0.2,0.5,140604,Forward charges,121003,b,2.92,174.5
1,2001806226,0.5,0.5,723146,Forward charges,121003,d,0.68,90.2
2,2001806229,0.5,0.5,421204,Forward charges,121003,d,0.71,90.2
3,2001806232,1.3,1.5,507101,Forward charges,121003,d,1.30,135.0
4,2001806233,0.2,0.5,263139,Forward charges,121003,b,0.78,61.3
...,...,...,...,...,...,...,...,...,...
119,2001821995,0.5,0.5,342008,Forward charges,121003,b,0.50,45.4
120,2001822466,1.4,1.5,342301,Forward charges,121003,b,1.10,135.0
121,2001823564,0.7,1.0,492001,Forward and RTO charges,121003,d,0.70,172.8
122,2001825261,1.6,2.0,517128,Forward and RTO charges,121003,d,1.60,345.0
123,2001827036,1.7,2.0,173213,Forward charges,121003,e,1.60,117.9

In [138]:
rates

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [139]:
df3

,Order ID,Total weight in KG,slab_weight,Customer Pincode,Type of Shipment,Warehouse Pincode_x,Zone_x,Charged Weight,Billing Amount (Rs.)
0,2001806210,0.2,0.5,140604,Forward charges,121003,b,2.92,174.5
1,2001806226,0.5,0.5,723146,Forward charges,121003,d,0.68,90.2
2,2001806229,0.5,0.5,421204,Forward charges,121003,d,0.71,90.2
3,2001806232,1.3,1.5,507101,Forward charges,121003,d,1.30,135.0
4,2001806233,0.2,0.5,263139,Forward charges,121003,b,0.78,61.3
...,...,...,...,...,...,...,...,...,...
119,2001821995,0.5,0.5,342008,Forward charges,121003,b,0.50,45.4
120,2001822466,1.4,1.5,342301,Forward charges,121003,b,1.10,135.0
121,2001823564,0.7,1.0,492001,Forward and RTO charges,121003,d,0.70,172.8
122,2001825261,1.6,2.0,517128,Forward and RTO charges,121003,d,1.60,345.0
123,2001827036,1.7,2.0,173213,Forward charges,121003,e,1.60,117.9

In [140]:
c = []

for i, j, k in zip(df3['Type of Shipment'], df3['Zone_x'], df3['slab_weight']):
    #print("Type of Shipment:", i)
    #print("Zone_x:", j)
    #print("slab_weight:", k)

    if i == 'Forward charges':
        if k > 0.5:
            col_name_fixed = 'Forward Fixed Charge'
            col_name_additional = 'Forward Additional Weight Slab Charge'
            print("Column Name (Fixed):", col_name_fixed)
            print("Column Name (Additional):", col_name_additional)
            c.append(round((rates[col_name_fixed][0]) + ((k - 0.5) / 0.5 * (rates[col_name_additional][0])), 1))
        else:
            c.append(round(rates['Forward Fixed Charge'][0]))

    # Repeat similar logic for 'Forward and RTO charges'

print(c)

Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
Column Name (Fixed): Forward Fixed Charge
Column Name (Additional): Forward Additional Weight Slab Charge
[30, 30, 30, 76.7, 30, 30, 53.1, 30, 30, 123.9, 30, 53.1, 100.3, 30, 30, 53.1, 30, 53.1, 30, 30, 30, 53.1, 30, 53.1, 53.1, 30, 30, 30, 30, 30, 30, 30, 76.7, 76.7, 30, 30, 53.1, 30, 30, 30, 100.3, 53.1, 53.1, 30, 53.1, 30, 30, 53.1, 76.7, 53.1, 53.1, 30, 76.7, 30, 53.1, 53.1, 30, 53.1, 53.1, 30, 76.7, 30, 30, 53.1, 53.1, 30, 30, 30, 30, 76.7, 76.7, 171.1, 30, 53.1, 30, 30, 53.1, 53.1, 30, 30, 53.1, 30, 53.1, 53.1, 30, 53.1, 53.1, 53.1, 30, 53.1, 147.5, 30, 53.1, 30, 53.1, 30, 30, 30, 30, 123.9, 30, 53.1, 30, 30, 53.1, 30, 30, 76.7, 100.3]

In [141]:
Expected = pd.DataFrame(c)
Expected.columns = ['Expected Charge as per X (Rs.)']
Expected

     Expected Charge as per X (Rs.)
0                              30.0
1                              30.0
2                              30.0
3                              76.7
4                              30.0
..                              ...
104                            53.1
105                            30.0
106                            30.0
107                            76.7
108                           100.3

[109 rows x 1 columns]

In [142]:
Final_df = pd.concat([temp_df4,Expected],axis=1)
Final_df['Weight slab charged by Courier Company (KG)'] = Final_df['Charged Weight'].apply(lambda x: (math.ceil(x*2)/2) )
Final_df

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Total weight in KG,slab_weight,Warehouse Pincode,Customer Pincode,Zone,Warehouse Pincode,Customer Pincode,Zone,Expected Charge as per X (Rs.),Weight slab charged by Courier Company (KG)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.3,1.5,121003,507101,d,121003,507101,d,30.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.6,1.0,121003,486886,d,121003,486886,d,30.0,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.3,2.5,121003,532484,d,121003,532484,d,30.0,2.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.7,1.0,121003,143001,b,121003,143001,b,76.7,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.2,0.5,121003,515591,d,121003,515591,d,30.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,0.5,0.5,121003,325207,b,121003,325207,b,NaN,1.0
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,0.6,1.0,121003,303702,b,121003,303702,b,NaN,0.5
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,0.5,0.5,121003,313301,b,121003,313301,b,NaN,0.5
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,0.7,1.0,121003,173212,e,121003,173212,e,NaN,0.5
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,0.8,1.0,121003,302020,b,121003,302020,b,NaN,0.5

In [144]:
Final_df['Difference Between Expected Charges and Billed Charges (Rs.)'] = Final_df['Expected Charge as per X (Rs.)'] - Final_df['Billing Amount (Rs.)']
Final_df

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Total weight in KG,slab_weight,Warehouse Pincode,Customer Pincode,Zone,Warehouse Pincode,Customer Pincode,Zone,Expected Charge as per X (Rs.),Weight slab charged by Courier Company (KG),Difference Between Expected Charges and Billed Charges (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.3,1.5,121003,507101,d,121003,507101,d,30.0,1.5,-105.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.6,1.0,121003,486886,d,121003,486886,d,30.0,1.0,-60.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.3,2.5,121003,532484,d,121003,532484,d,30.0,2.5,-194.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.7,1.0,121003,143001,b,121003,143001,b,76.7,1.0,15.4
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.2,0.5,121003,515591,d,121003,515591,d,30.0,0.5,-15.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,0.5,0.5,121003,325207,b,121003,325207,b,NaN,1.0,NaN
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,0.6,1.0,121003,303702,b,121003,303702,b,NaN,0.5,NaN
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,0.5,0.5,121003,313301,b,121003,313301,b,NaN,0.5,NaN
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,0.7,1.0,121003,173212,e,121003,173212,e,NaN,0.5,NaN
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,0.8,1.0,121003,302020,b,121003,302020,b,NaN,0.5,NaN